@charset "utf-8";
* {
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
    margin:0;
    padding:0;
    overflow: hidden;
    border:0;
    list-style:none;
    outline: none;
    word-break: break-all;
    word-wrap: break-word;
}
html, body{
    height:100%;
    font-size: 14px;
}